.MuiPaper-root {
    .MuiTableContainer-root {

    .custom_datatable {

        .custom-table-head {
            background-color: grey;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            tr >  
                th {
                    color: #fff;
                    font-size: 1.2rem;
                }
            
        }}
    }
}